* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 10px;
    background-color: aquamarine;
}

html, * {
    font-family: 'Inter', serif;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    line-height: 1.6;
}

.lead {
    font-size: 1.5rem;
    font-weight: 300;
}


#buttonsToolbar {
    width: fit-content;
    background-color: aqua;
    padding: 0.3125rem;
}

#buttonsToolbar > button:first-child {
    margin: 0 0.3125rem 0 0;
}

#buttonsToolbar > button:last-child {
    margin: 0;
}

#buttonsToolbar > button {
    width: 1.875rem;
    height: 1.875rem;
    margin: 0 0.3125rem 0 0;
    outline: none;
    cursor: pointer;
    border: 0.0625rem solid rgba(0, 0, 0, .1);
    border-radius: 0.1875rem;
    box-shadow: 0 0.5rem 1.125rem rgba(0, 0, 0, .1);
}

#textEditor {
    margin-top: 0.3125rem;
    padding: 0.3125rem;
    border: 0.0625rem solid rgba(0, 0, 0, .1);
    border-radius: 0.1875rem;
    box-shadow: 0 0.5rem 1.125rem rgba(0, 0, 0, .1);
}

.textEditor {
    height: 10rem;
}

.active {
    background-color: rgb(205, 132, 132)
}

.multipleInput-container {
    border: 1px #ccc solid;
    padding: 1px 1px 0;
    cursor: text;
    font-size: 13px;
    width: 100%;
    height: 75px;
    overflow: auto;
    background-color: white;
    border-radius: 3px;
}

.multipleInput-container input {
    font-size:13px;
    /*clear:both;*/
    width:150px;
    height:24px;
    border:0;
    margin-bottom:1px;
    outline: none
}

.multipleInput-container ul {
    list-style-type:none;
    padding-left: 0px !important;
}

li.multipleInput-email {
    float:left;
    margin-right:2px;
    margin-bottom:1px;
    border:1px #BBD8FB solid;
    padding:2px;
    background:#F3F7FD;
}

.multipleInput-close {
    width:16px;
    height:16px;
    display:block;
    float:right;
    margin:0 3px;
}
.email_search{
    width: 100% !important;
}